
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>This is the entry page.</h1>
    <div id="fillthis"></div>

<script src="~/dist/bundle.js"></script>

</body>
</html>
